/* color */
.lce-primary {
    color: orangered;
}

#lce-text-dark {
    color: black;
}

/* background color */

#lce-bg-primary {
    background-color: orangered;
}

#lce-dark {
    background-color: black;
}