.bord {
    border: solid;
}

#lce-nav {
    padding: 1.5rem;
}

#header{
    padding-right: 10rem;
}

.lce-space {
    padding-left: 1rem;
    padding-right: 1rem;
}

.lce-title {
    margin-top: 2rem;
}

.lce-title h1 {
    /*text-align: center;*/
    color: #FF6833;
}

.number {
    position: relative;
    bottom: 20px;
    left: 80%;
}

/* banner */

.lce-banner {
    height: 500px;
}

.lce-banner img {
    position: relative;
    top: 20px;
}

.lce-banner h1 {
    font-size: 60px;
}

.lce-banner p {
    font-size: 15px;
}

.lce-banner button {
    border-radius: 50px;
    color: #ffffff;
}

.lce-banner div div div {
    padding: 4rem;
    margin-top: 2rem;
}

#lce-active {
 color: white;
    background-color: #FF6833;
}

/* card */

.lce-card {
    margin-top: 2rem;
}

.lce-card div {
    width: 70%;
    padding: 2rem;
}

.lce-card div h4 {
    margin-bottom: 1rem;
}


/* produit card */

.lce-prod-card {
    padding: 4rem;
}

.lce-prod-card h4 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.lce-prod-card span {
    color: rgb(170, 169, 169);
}

.lce-prod-card button {
    color: white;
 
}

.lce-section {
    margin-top: 8rem;
}


/*icons */
button.btn i {
    font-size: 20px;
}


/*banner*/
.banner{
    padding: 5rem;
    background-image: url("https://image.freepik.com/photos-gratuite/panier-marchand-ordonnee-electronique-magasin-panier_1421-567.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;    
}

.banner h2 {
    text-align: center;
    color: white;
}


/* cart  */
.sort-bar {
    padding: 2rem;
}

.in-table {
    transform: translateY(150%);
    font-weight: 500;
}

.in-table-1 {
    transform: translateY(250%);
    font-weight: 500;
}

.in-table-2 {
    transform: translateY(150%);
    font-weight: 800;
}

.cart-chekout {
    padding: 1rem;
}

.cart-chekout button {
    width: 20%;
    margin-right: 2rem;
}

/* product list */

.card-content {
    padding: 2rem;
}

.navigate {
    position: relative;
    bottom: 4px;
}

/* word */

.lce-w-50 {
    font-weight: 50;
}


/* animation */
.from-right,
.from-left {
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}
.from-right {
    transform: translate(50px,-30px);
}
.from-left {
    transform: translate(-50px,-30px);
}

.from-right1,
.from-left1 {
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}
.from-right1 {
    transform: translate(50px,-30px);
}
.from-left1 {
    transform: translate(-50px,-30px);
}
/* Media query */

@media screen and (max-width: 1200px) {    
    #lce-detail div {
        margin-top: 30rem;
    }
}

@media screen and (max-width: 600px) {    
    .in-table {
        position: relative;
        bottom: 210px;
    }

    .in-table-1 {
        position: relative;
        bottom: 50px;
    }

    .in-table-2 {
        position: relative;
        bottom: 120px;
    }

    .mob-pos-p {
        position: relative;
        bottom: 120px;
    }

    .mob-pos-btn {
        margin-bottom: 2rem;
    }
}